		/* General Game Display */
		
		#gameContent {
			overflow: hidden; 
			height: 80vh;
			background: url(../img/gamemenubg.jpg);
			background-size: 100%;			
			background-position: center center;
		}
		
		#gameContent * {
			-ms-user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}  
	
		#gameContent table {
			color: #fff;
			font-size: 2em;
			margin: auto;
			text-align: center;
		} 
		
		#gameContent td {
			width: 30%;
		}
		
		#gameContDiv {
			height: 100%; 
			width: 100%;
		}
		
		.menuBut{
			background-color: #4d0000;
			width: 25%;
			display: inline-block;
			-moz-border-radius:10px;
			-ms-border-radius:10px;
			-webkit-border-radius:10px;
			box-shadow: 0px 7px 10px #222;
			text-align: center;
		}
		
		.menuBut:hover{
			background-color: #800000;
			cursor: pointer;
		}
		
		.menuText {
			font-family: Caslon;
			color: #fff;
			font-size: 3em; 
			text-shadow: 3px 3px 2px #000000; 
		}
		
		/*	Game Main Menu */
		
		#mainMenu{
			text-align: center;
			margin-top: 10%;
		}
		
		#gameTitle {
			font-family: RedEye;  
			font-size: 5em;
		}
		
		/* Splash Screen */
		
		#gameSplash {
			position: absolute;
			top: 0;
			left: 10%;
			width: 80%;
			height: 100%;
			font-size: 2.25em;
			display: none;
		}
		
		#gameSplash  p {
			display: none;
		}
		
		#skipBut {
			position: absolute;
			right: 2.5%;
			bottom: 2.5%;
		}
		
		/* Game Over Screen */
		
		#hiName {
			height: 10vh;
			width: 50%;
			border: double;
			font-family: Caslon;
			font-size: 10vh;
			text-align: center;
		}
		
		#gameOverButs {
			display: none;
		}
		
		#gameOverCont{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: url(../img/goBG.jpg);
			background-size: 100%;
			color: #fff;
			font-family: Caslon;
			font-size: 2em;
			text-align: center;
			display: none;
		}
		
		.goButs {
			font-size: 1.5em;
			width: 25vw;
		}
		
		td.gameOverTd{
			display: none;
			width: 30vw;
			text-shadow: 3px 3px 2px #000000; 
		}
		
		/* High Score Display */
		
		#scoreDiv {
			position: absolute;
			top: 10%;
			text-align: center;
			display: none;
			font-family: Caslon;
			width: 100vw;
		}
		
		tr.title{
			text-decoration: underline;
			font-weight: 400;
		}
		
		/* Game Container + Assets */
		
		#gameCont {
			display: none; 
			width: 100%; 
			height: 100%;
			cursor: none;
			background: url(../img/gamebg.jpg);
			background-size: 100%;
		}
		
		#skull1 {
			left: 3vh;
		}
		
		#skull2{
			left: 8vh;
		}
		
		#skull3{
			left: 13vh;
		}
		
		#firing {
			position: absolute; 
			bottom: 0; 
			right: 10%; 
			height: 30vh; 
			display: none; 
			z-index: 999;
		}
		
		#cocking {
			position: absolute; 
			bottom: 0; 
			right: 10%; 
			height: 30vh; 
			display: none; 
			z-index: 999;
		}
		
		#boltgun {
			position: absolute;
			bottom: 0; 
			right: 10%; 
			height: 30vh; 
			z-index: 998;
		}
		
		#scanlines {
			top: 0; 
			left: 0;
			position: absolute; 
			width: 100%; 
			opacity: 0.05; 
			z-index: 1000; 
			pointer-events:none;
		}
		
		#vBar {
			height: 200%;
			width: 1vh; 
			background-color: #ff0000; 
			position: absolute; 
			opacity: 0.4; 
			pointer-events:none; 
			z-index:997;
		}
		
		#hBar {
			height: 1vh; 
			width: 200%; 
			background-color: #ff0000; 
			position: absolute; 
			opacity: 0.4; 
			pointer-events:none; 
			z-index:997
		}
		
		#aquila {
			width: 15vw; 
			position: absolute; 
			top: 3vh;
			right: 3vw; 
			opacity: 0.6; 
			z-index: 999;
		}
		
		#smLogo {
			width: 7.5vw; 
			position: absolute; 
			top: 15vh; 
			right: 7vw; 
			opacity: 0.6; 
			z-index: 999;
		}
		
		#blood {
			position: absolute; 
			display: none; 
			opacity: 0.8
		}
		
		#bloodslash {
			position: absolute; 
			z-index: 1001; 
			display: none; 
			width: 60%; 
			left: 20%;
		}
		
		#proverb {
			color: #fff; 
			font-size: 2em; 
			font-family: Caslon; 
			right: 3vw; 
			position: absolute; 
			bottom: 3vh; 
			z-index: 999; 
			opacity: 0.6
		}
		
		#score {
			color: #fff; 
			font-size: 4em; 
			font-family: Numbers; 
			left:42.5%; 
			position: absolute; 
			top: 1vh; 
			z-index: 999; 
			opacity: 0.6
		}
		
		img.nidS {
			width: 10%; 
			top: 40%;
			position: absolute;
			z-index: 0;
		}
		
		img.skullCounter {
			position: absolute; 
			top: 3vh; 
			height: 5vh; 
			opacity: 0.6; 
			z-index: 999;
		}
		
		/* Footer */
		
		#footer {
			color: #444;
			text-align: center;
		}
		
		#footer span{
			position: relative;
			top: 30%;
		}