		/* Imported Fonts */
		
		@font-face {
			font-family: "Caslon";
			src: url(../bin/CaslonAntique.ttf) format("truetype");
		}
		
		@font-face {
			font-family: "Logo";
			src: url(../bin/logo.ttf) format("truetype");
		}
		
		@font-face {
			font-family: "RedEye";
			src: url(../bin/RedEye.ttf) format("truetype");
		}
		
		@font-face {
			font-family: "Numbers";
			src: url(../bin/numbers.ttf) format("truetype");
		}
		
		/* Page Layout */
		
		body {
			background: #252f31;
			top: 0;
			left: 0;
			margin: 0;
		}
		
		#header {
			background: url(../img/headbg.jpg);
			background-size: 100%;
			background-position: 0 25%;
			height: 30vh;
			width: 100%;
			position: relative;
		}
		
		.content {
			position: relative;
		}
		
		/* Header */
		
		#menuBar {
			height: 20%;
			background: url(../img/menubar.jpg);
			position: relative; 
			top: 80%;
			width: 100%;
			border-bottom: double;
			box-shadow: 0px 7px 10px #222;
			text-shadow: 3px 3px 2px #000000;
			z-index: 102;
		}
		
		#logo {
			width: 25vw;
			position: absolute;
			top: 20vh;
			left: 2.5%;
			z-index: 10001;
		}
		
		.headerButton {
			display: inline-block;
			width: 17.5%;
			height: 100%;
			line-height: 6vh;
			color: #fff;
			text-align: center;
			font-family: RedEye;
			font-size: 1.75em;
			text-transform: uppercase;
		}
		
		.selected, .headerButton:hover {
			box-shadow:inset 0 0 20px 10px rgba(0,0,0,1);
			cursor: pointer;
		}
		
		.firstButton {
			margin-left: 28%;
		}
		
		/* Gallery */
		
		#gallery {
			border-bottom: double;
			position: relative;
			height: 60vh; 
			box-shadow: 0px 7px 10px #222;
		}
		
		#gallery1 {
			background: url(../img/bg.jpg);
			background-position: center;
			background-size: 100%;
		}
		
		#gallery2 {
			background: url(../img/bg2.jpg);
			background-position: center bottom;
			background-size: 100%;
		}
		
		#homeP {
			width: 80%;
			margin-left: 10%;
			margin-top: 5%;
			margin-bottom: 5%;
			color: #fff;
			font-family: Caslon;
			font-size: 1.5em;
		}
		
		.galleryContDiv {
			height: 100%;
			width: 100%; 
			position: absolute; 
			overflow: hidden; 
			display: block;
		}
		
		.galleryImage {
			height: 100%; 
			position: relative; 
			left: 60%;
		}
		
		.notFirstDiv {
			display: none;
		}
		
		.spa1{
			top: 15%; 
			left: 20%
		}
		
		.spa2{
			top: 35%; 
			left: 25%
		}
		
		.spa3 {
			top: 55%; 
			left: 22.5%
		}
		
		.galleryText{
			font-family: Caslon; 
			color: #FFF; 
			font-size: 5em; 
			text-shadow: 3px 3px 2px #000000; 
			position: absolute; 
		}
		
		
		
		/* Video Prompter */
		
		#videoPrompt {
			z-index: 100; 
			position: fixed; 
			top: 0; 
			left: 60%;
			z-index: 10010; 
			display: none;
		}
		
		#videoPrompt:hover {
			cursor: pointer;
		}
		
		#promptImage {
			
			width: 30vw;
		}
		
		#videoIncoming {
			font-family: Terminal;
			color: #00ff0c;
			position: absolute;
			top: 2vw;
			z-index: 10020;
			left: 9.5vw;
		}
		
		/* Video Player */
		
		#videoPlayer {
			position: fixed; 
			top: 0; 
			left: 50%; 
			z-index: 10010; 
			display: none;
		}
		
		#videoFrame {
			width: 40vw; 
			position: relative; 
			height: 25vw; 
			z-index: 10010; 
			pointer-events:none;
		}
		
		#monitorVid {
			width: 36vw; 
			position: absolute; 
			left: 6%; 
			top: 4%; 
		}
		
		#videoBut {
			display: block; 
			position: absolute; 
			background: #c13a02; 
			width: 6vh; 
			height: 5vh; 
			left: 28vw; 
			top: 22vw;
			z-index: 10000;
		}
		
		#videoBut:hover {
			cursor: pointer;
			background: #fd834e;
		}
		
		/* Medusa Tab */
		
		#medusaContent {
			position: relative;
			width: 100%;
		}
		
		#planetList {
			margin-top: 3%;
			text-align: center;
		}
		
		#planetList li {
			display: inline-block;
			width: 15%;
			color: #fff;
			font-family: Caslon;
			font-size: 2em;
			text-shadow: 3px 3px 2px #000000;
		}
		
		#planetList li.selectedLi,  #planetList li:hover {
			text-shadow: 3px 3px 2px #9eb69e;
			cursor: pointer;
		}
		
		#planetQuickSel {
			width: 100%;
			text-align: center;
			color: #fff;
			font-family: Caslon;
			font-size: 1.5em;
		}
		
		#selPlan {
			margin-bottom: 3%;
		}
		
		#planetInfoCont {
			width: 100%;
			text-align: center;
			margin-bottom: 2vh;
		}
		
		#planetName {
			text-decoration: underline;
		}
		
		#planetDesc {
			font-size: 1.5em;
		}
		
		#planetImg {
			height: 70%;
			width: 70%;
			position: relative;
			top: 15%;
		}
		
		#planetSubTitle {
			font-size: 2em;
		}
		
		#leftSide {
			background: url(../img/starbg.jpg);
			background-size: 100% 100%;
			border: 30px solid;
			border-image: url(../img/border.png) 100 round;
			height: 40vw;
		}
		
		#rightSide * {
			font-family: Caslon;
			color: #fff;
		}
		
		#rightSide table {
			width: 100%;
			font-size: 1.5em;
			margin-top: 3%;
		}
		
		.planetInfoTitle{
			font-size: 3em;
		}
		
		.planetTableTitles {
			text-align: right;
			padding-right: 10%;
		}
		
		.inlineSide {
			display: inline-block;
			width: 40vw;
			vertical-align: middle;
			text-align: center;
		}
		
		/* Forces Tab */
		
		#forceCont {
			margin-top: 5%;
			width: 90%;
			margin-left: 5%;
			color: #fff;
			font-size: 1.5em;
			font-family: Caslon
		}
		
		#forceCont hr{ 
			padding: 0;
			border: none;
			border-top: medium double #fff;
			color: #fff;
			text-align: center;
			height: 2%;
		} 
		
		#forceCont hr:after {
			font-family: Logo;
			content: "c"; 
			display: inline-block; 
			position: relative; 
			top: -0.7em; 
			font-size: 1.5em; 
			padding: 0 0.25em;
			background: #252f31;
		}
		
		#war {
			width: 100%;
			text-align: center;
			margin-bottom: 5%;
		}
		
		.tabHeader {
			font-size: 1.5em;
		}
		
		.tabHeader:hover {
			cursor: pointer;
		}
		
		.tab {
			display: none;
		}
		
		/* Footer */
		
		#footer {
			height: 20vh;
			width: 100%;
			background: #1d2124;
			border-top: medium double #fff;
		}