<head>
	<script src="js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/game.css">
	<title>The Battle for Medusa IV</title>
</head>
<body>
	<header id="header">
		<div id="menuBar">
			<div class="firstButton headerButton selected" tar="#homeContent">
				Home
			</div>
			<div class="headerButton" tar="#medusaContent">
				The Medusa System
			</div>
			<div class="headerButton" tar="#forceContent">
				Forces on Medusa IV
			</div>
			<div class="headerButton" tar="#gameContent">
				Genestealer Hunt
			</div>
		</div>
		<img id="logo" src="img/logo.png" alt="Warhammer 40,000">
	</header>
	
	<div id="videoPrompt">
		<img id="promptImage" src="img/pager.png">
		<span id="videoIncoming">++incoming++</span>
	</div>
	<div id="videoPlayer">
			<img id="videoFrame" src="img/monitor.png">
			<video id="monitorVid">
				<source src="bin/video.mp4" type="video/mp4">
			</video>
			<div id="videoBut"></div>
	</div>
	
	<section id="homeContent" class="content currentTab" >
		<div id="gallery"> 
			<div class="galleryContDiv" id="gallery1" galleryId=1>
				<img src="img/spacemarine.png" class="galleryImage" id="space" alt="Commander Boreal, 4th Company, Ultramarines">
				<span class="galleryText spa1">And they</span><br>
				<span class="galleryText spa2">shall know</span><br>
				<span class="galleryText spa3">no Fear</span><br>
			</div>
			<div class="galleryContDiv notFirstDiv" id="gallery2" galleryId=2>
				<img src="img/ig.png" class="galleryImage" id="space" alt="Trooper Corbec, 101st Cadian">
				<span class="galleryText spa1">Courage and courage</span><br>
				<span class="galleryText spa2">alone is the strongest</span><br>
				<span class="galleryText spa3">weapon of Mankind!</span><br>
			</div>
		</div>
		<div id="homeP">
			<p>
				Warhammer 40,000 is a table top miniatures war game set in the dark future of the
				41st Millenium. This microsite gives some background to the Imperial campaign in the Medusa
				system of the Segmentnum Ultima sector against the horrific aliens, the Tyranids.
			</p>
			<p>
				'The Medusa System' tab will give background to the planets of the Medusa system, giving players 
				ideas on where their tabletop battles will be set. The 'Forces on Medusa IV' will give players a small background
				to the efforts of the Dark Angels Chapter in crushing a foul cult worshipping the Tyranids, the evil Genestealer
				Cults. Finally the 'Genestealer Hunt' tab will allow players to assume the role of Brother Holguin
				of the First Company, Dark Angels, in his heroic last stand against the Genestealer.
			</p>
			<p>
				Players should be ready. Inquisition agents (while missing) are still sending intelligence reports back to
				the battlegroup headquaters. When new intelligence arrives, a pager will appear which the user should check immediately.
			</p>
			<p>
				It is the 41st Millenium and there is only WAR!
			</p>
		</div>
	</section>
	<script src="js/main.js"></script>
	
	<section id="medusaContent" class="content" style="display: none;">
		<ul id="planetList">
		</ul>
		
		<div id="planetInfoCont">
			<div id="leftSide" class="inlineSide">
				<img src="img/1.png" id="planetImg">
			</div>
			<div id="rightSide" class="inlineSide">
				<span id="planetName" class="planetInfoTitle">
				</span>
				<br />
				<span id="planetSubTitle">
				</span>
				<br /><br />
				<span id="planetDesc">
				</span>
				<br>
				<table>
					<tr>
						<td class="planetTableTitles">
							Population:
						</td>
						<td id="planetPop">
						</td>
					</tr>
					<tr>
						<td class="planetTableTitles">
							Imperial Tithe:
						</td>
						<td id="planetTithe">
						</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div id="planetQuickSel">
			Quick Select: 
			<select id="selPlan">
			</select>
		</div>
	</section>
	<script src="js/medusa.js"></script>
	
	<section id="forceContent" class="content" style="display: none;">
		<div id="forceCont">
			There are two main forces operating on Medusa IV: the combined armies of the Imperium of Man and, the ever hungry and devouring Tyranid
			Hive Fleet Goliath. Below is a summary of both forces.
			<br>
			<br>			
			<div class="tabheader" id="darkAngelsAcc">
				The Dark Angels
				<hr>
			</div>
			<div class="tab">
				<p>
					"Repent! For tomorrow you die!" - Dark Angels Battle Cry
				</p>
				<p>
					The Dark Angels were the first of the Space Marine Legions to be created by the beloved Emperor at the beginning of the Great
					Crusade. The most secretive of the Emperor's forces (bar the Holy Inquisition), they exist to deliver His justice upon
					the foul xenos and heretics that plague the galaxy.
				</p>
				<p>
					Following a disturbance in communications with Inquisition agents and Imperial authorities on Medusa IV, the chapter sent their 
					First Company, the deadly Deathwing, to assist in reestablishing comms and peace (if required) on the planet. The initial squad sent
					to investigate has also now gone missing.
				</p>
				<p>	
					Now, the swift hammer of the Dark Angels is about to fall on the insidious cult that has infested Medusa IV.
				</p>				
			</div>
			
			<div class="tabheader">
				Hive Fleet Goliath
				<hr>
			</div>
			<div class="tab">
				<p>
					"They are coming! I feel them scratching inside my mind, scratching, 
					screaming, running, so many - so, so many voices. They are coming for us 
					- flesh, body and soul!" - Unknown cultist
				</p>
				<p>
					The Tyranids are an extragalactic alien race, whose sole purpose is the 
					consumption of all forms of genetic and biological material in order to 
					evolve and reproduce.
				</p>
				<p>
					Hive Fleet Goliath was first encountered on a dead system, 300 light-years
					from the current objective. They can be stopped if confronted with a heavy
					attack immediately.
				</p>
				<p>	
					If the Dark Angels do not succeed, certain doom awaits the innocent civilians of the Medusa system.
				</p>	
			</div>
			<br>
			<div id="war">
				It is the 41st Millenium, and there is only WAR!
			</div>
		</div>
	</section>
	<script type="text/javascript">
		$(".tabheader").click(function() {
			$(this).next().slideToggle();
		});
	</script>
	
	<section id="gameContent" class="content" style="display: none;">
		<div id="gameContDiv">
			<div id="mainMenu">
				<span id="gameTitle" class="menuText">
					GENESTEALER HUNT
				</span>
				<br><br>
				<span id="playBut" class="menuText menuBut">
					Play
				</span>
				<br><br>
				<span id="highBut" class="menuText menuBut">
					High Scores
				</span>
			</div>
			<div id="scoreDiv">
				<table id="scores">
				</table>
				<br><br>
				<span id="scoreMenuBut" class="menuText menuBut">
					Back to Menu
				</span>
			</div>
			<div id="gameSplash" class="menuText">
				<p>
					You are Brother Holguin of the First Company of the Dark Angels, 
					the fabled Deathwing. You were dispatched to save the planet of Medusa IV 
					from the horrifying Genestealer cult that has gripped it.
				</p>
				<p>
					Your mission has failed.
				</p>
				<p>
					Now you are the last member of your squad who hasn't fallen.
					Critically wounded and fatigued from battle, you have only one task left;
					Kill as many of the foul Xenos as you can before you perish.
				</p>
				<p>
					The Emperor Protects...
				</p>
				<span id="skipBut" class="menuBut">
					Skip
				</span>
			</div>
			<div id="gameCont">
				<img src="img/firing.png" id="firing">
				<img src="img/skull.png" id="skull1" class="skullCounter">
				<img src="img/skull.png" id="skull2" class="skullCounter">
				<img src="img/skull.png" id="skull3" class="skullCounter">
				<img src="img/cocking.png" id="cocking">
				<img src="img/idle.png" id="boltgun">
				<img src="img/scanlines.jpg" id="scanlines">
				<div id="vBar">
				</div>
				<div id="hBar">
				</div>
				<img id="aquila" src="img/aquila.png">
				<img id="smLogo" src="img/da.png">
				<img id="blood" src="img/bloodspray.gif">
				<img id="bloodslash" src="img/bloodslash.gif">
				<span id="proverb">
					Suffer not the Alien to Live!
				</span>
				<span id="score">
				</span>
			</div>
			<div id="gameOverCont">
				<span id="goTitle" class="menuText">Only in death does duty end...</span>
				<table id="goScores">
					<tr id="gameOverKills">
						<td class="gameOverTd">Kills</td>
						<td class="gameOverTd">0</td>
					</tr>
					<tr id="gameOverScore">
						<td class="gameOverTd">Score</td>
						<td class="gameOverTd">0</td>
					</tr>
				</table>
				<div id="gameOverButs">
					<span id="goTryAgain" class="menuText menuBut goButs">
						Try Again
					</span>
					<br><br>
					<span id="goMenu" class="menuText menuBut goButs">
						Back to Menu
					</span>
				</div>
				<div id="hiScorePanel">
					<span class="menuText">
						Enter your name:
					</span>
					<br>
					<input type="text" id="hiName">
					<br><br>
					<span id="hiScoreReturn" class="menuText menuBut goButs">
						Enter
					</span>
				</div>
			</div>
		</div>
	</section>
	<script src="js/game.js"></script>
	
	<footer id="footer">
	<span>
		William McCulla - B00617077
		<br>
		COM554 - Interactive Web Computing
	</span>
	</footer>
</body>